[Unit]
Description=Power governor dynamic manager
After=local-fs.target
Wants=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/powergov on
ExecStop=/bin/kill -TERM $MAINPID
Restart=on-failure
RestartSec=2
Nice=-5
RuntimeDirectory=powergov
PIDFile=/run/powergov/powergov.pid
KillMode=mixed
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
