[Desktop Entry]
Type=Application
Name=PowerGov
Name[es]=PowerGov
Comment=Linux laptop power management
Comment[es]=Gestión de energía para portátiles Linux
Exec=powergov-ui
Icon=powergov
Categories=System;Settings;
Terminal=false
StartupNotify=true
